@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Norse-bold";
    src: url("../fonts/Norse-Bold.otf") format("opentype");
}

body {
    /* background: url('../img/sign-up-form.png'); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #245875;
}

#right-col a {
    text-decoration: none;
}

#container {
    display: flex;
    width: 86vw;
    max-width: max(86vw,1450px);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

#left-col {
    flex: 1 37%;
    background: url('../img/bg.jpg') no-repeat;
    background-size:cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#copyright {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
}

#copyright > a {
    color: #ccc;
}



#right-col {
    flex: 2 63%;
    display: flex;
    flex-direction: column;
    background-color: rgba(200,200,200,0.1);
}

.header {
    flex: 1 35%;
}

#left-col > .header {
    display: flex;
    align-items: flex-end;
    flex: 0 35%;
}

#logo {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo > img {
    height: 125px;
}

#logo > span {
    font-family: 'Norse-bold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 6rem;
    line-height: 6rem;
    margin-top: 1rem;
}

#right-col > form {
    flex: 2 65%;
}

#right-col > .header {
    padding: 50px 165px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#right-col > .header > p {
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 0;
    line-height: 1.1;
}

form > fieldset {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    padding: 0 50px 42px;
    clip: auto;
    /* box-sizing: content-box; */
}

fieldset > div:nth-child(odd) {
    padding-left: 75px;
}

/* legend {
    appearance: none;
    flex: 1 auto;
    display: flex;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    position: relative;
} */

#legend {
    flex: 0 100%;
    margin-bottom: 40px;
}

#right-col form legend {
    float: left;
    position: relative;
    top:30px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    -webkit-margin-top-collapse: separate;
    color: rgba(0,0,0,0.7);
}


fieldset > div > label::after {
    display: block;
    content: '';
    clear: both;
    width: 100%;
}



fieldset > div {
    flex: 0 32%;
}

label,
input {
    width: 100%;
    font-size: 0.8rem;
}

input {
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.6)
}

input {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 1.8rem;
    padding: 0 10px;
    box-sizing: border-box;
}

fieldset > div {
    margin-top: 14px;
}

form > p {
    margin-left: 50px;
    font-size: 1.1em;
    font-weight: bold;
}

button {
    appearance: none;
    border: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 52px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    background-color: #245875;
    color: #fff;
    margin: 40px 0 15px 50px;
    transition: all 0.4s;
}

button:hover {
    filter: brightness(1.4);
}

input:focus-visible {
    outline: none !important;
    border: 1px solid lightblue;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

/* 
input:valid {
    background-color: green;
} */

input:invalid {
    border-color: #ff0000;
}

.error {
    content: 'Passwords do not match';
    display: block;
    color: #ff0000;
    font-size: 0.7rem;
    opacity: 0;
}

@media screen and (max-width:1080px) {

    #container {
        flex-direction: column;
    }

    #left-col {
        flex: 0 100%;
    }

    #right-col > .header {
        padding: 50px;
        justify-content: flex-end;
    }

    #left-col > .header {
        display: flex;
        align-items: flex-end;
        flex: 0 35%;
    }



}



@media screen and (max-width:750px) {
    fieldset > div {
        flex: 0 100%;
    }

    #container {
        height: auto;
        overflow: auto;
    }

    fieldset > div:nth-child(odd) {
        padding-left: 0;
    }

}